.footer{
background-color: $black-background;
color: $white-text;
margin-bottom: 0;
}

.footer__agents__info{
    margin-bottom: 35px;
}

.footer__container{
    margin-left: 4%;
    margin-bottom: 0;
}

.footer__agents__email{
    margin: 35px 0;
}

.footer__copy{
    margin-left: 4%;
}